{% extends 'base.html' %}
{% block title %}{{ category.name }}{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="mb-4 text-center">{{ category.name }} Products</h2>

    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="{{ product.image.url }}" class="card-img-top" height="250">
                <div class="card-body text-center">
                    <h5>{{ product.name }}</h5>
                    <p class="text-muted">₹{{ product.price }}</p>
                    <a href="#" class="btn btn-danger">View Product</a>
                </div>
            </div>
        </div>
        {% empty %}
            <p>No products available in this category.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
